[Unit]
Description=TrainTime MTA Display
After=network-online.target graphical.target
Wants=network-online.target

[Service]
Type=simple
User=stan
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/stan/.Xauthority
Environment=MIN_THRESHOLD_MINS=3
WorkingDirectory=/home/stan/traintime
ExecStartPre=/bin/sleep 10
ExecStart=/home/stan/traintime/venv/bin/python -u /home/stan/traintime/traintime.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical.target
